body{
	margin:0;
	padding:0;
    background-color: #242333;
    color: white;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: 100%;
    height: 100%;
	}
.logo{
	border: 1px solid black;
    height: 60px;
	background: #000;
}

a {
    text-decoration: none
}

.tekst{
	color: white;
	margin-left: 100px;
    float: left;
    text-decoration: none;
}
div span{ 
 font-size:40px;
}

.tekst:hover{
	opacity: 0.5;
	color: white;
	margin-left: 100px;
}
.tekst:active{
    color: blue;
	margin-left: 100px;
}
/*poprzycisniesciu nie wystepuje zmiana koloru danego menu */
.rep{
    margin-left: 15px;
    font-size: 40px;
    color: white;
    text-decoration: none;
}

/* .menu potrzebde do menu w lini poziomej  */
.menu{
    float: left;
    box-sizing: border-box;
    margin-left: 100px;
    margin-top: 10px;
    color: white;
    font-size: 30px;
}
/* odstęp pomiędzy danymi repertuar a cennikiem na menu*/
.menu:hover{
    opacity: 0.5;
    float: left;
    box-sizing: border-box;
    margin-left: 100px;
    margin-top: 10px;
    color: white;
    font-size: 30px;
}


.cennik {
    background-color: #242333;
  width: 950px;
    height: 240px;
    font-size:1.4em;
    margin: auto;
    margin-top: 150px;
    
  
}
p
{
   text-align: center;
}
#g1 {
   box-shadow: 10px 10px 28px 9px rgba(68, 6, 83, 1);
    border-radius: 20px;
    margin-bottom:30px;
    margin-right: 20px;
     height: 100px;   
    float:left;
  background-color:#865486;
    width: 300px;
}

#g2 {
    box-shadow: 10px 10px 28px 9px rgba(68, 6, 83, 1);
    border-radius: 20px;
    height: 100px;
    margin-right: 20px;
   margin-bottom:30px;
    float:left;
  background-color:#865486 ;
     width: 300px;
}

#g3 {
    text-align: center;
    box-shadow: 10px 10px 28px 9px rgba(68, 6, 83, 1);
    border-radius: 20px;
    margin-bottom:30px;
    height: 100px;
    float:left;
  background-color:#865486;
     width: 300px;
        
}
#d1 {
    box-shadow: 10px 10px 28px 9px rgba(127, 74, 139, 1);
      clear:both; 
    margin-right: 20px;
     height: 100px;   
    float:left;
  background-color:#A885A8;
    border-radius: 20px;
     width: 300px;
}

#d2 {
    box-shadow: 10px 10px 28px 9px rgba(127, 74, 139, 1);
    border-radius: 20px;
    height: 100px;
   margin-right: 20px;
    float:left;
  background-color:#A885A8;
     width: 300px;
}

#d3 {
    box-shadow: 10px 10px 28px 9px rgba(127, 74, 139, 1);
    border-radius: 20px;
    height: 100px;
    float:left;
  background-color:#A885A8;
    width: 300px;
        
}
