body{
	margin:0;
	padding:0;
	background-color:black;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: 100%;
	}
.logo{
	border: 50px solid yellow;
	background: #ccc;

}
.mini{
	size:2px;
}
.tekst{
	margin-left: 50px;
	color: blue;
	size:15px;
}
